html {
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #fc5c7d, #6a82fb);
}

header{
    text-align: center;
    margin: 0 auto;
    padding: 2%;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.quiz {
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    justify-items: center;
    align-items: center;
    margin: 10px;
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    padding: 2%;
    border: thin solid #ffffff;
}

a:hover {
    color: #000000;
    background-color: #ffffff;
}

.quiz:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.quiz:active {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

label {
    font-size: 18px;
    font-weight: bold;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}